{% extends "registrasion/base.html" %}
{% load lca2018_tags %}

{% block header_title %}Your profile{% endblock %}
{% block header_paragraph %}
  These details will appear on your badge, your invoices, and will be used
  to order catered food at the conference.
{% endblock %}

{% block scripts_extra %}
{{ form.media.js }}
<script type="text/javascript">
    postcode_label = $("label[for='id_profile-state']");
    postcode_help = $("#id_profile-state + p");
      $('#id_profile-country').change(function () {
        if ($(this).val() == 'AU' )  {
          postcode_label.addClass('label-required');
          postcode_help.show();
        } else {
          postcode_label.removeClass('label-required');
          postcode_help.hide();
        } });
        $("#id_profile-country").change();

      </script>
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" action="">
    {% csrf_token %}

    <fieldset>
      {% include "_form_snippet.html" with form=form %}
      <br />
      <div class="btn-group">
          <input class="btn btn-success" type="submit" value="Save Profile" />
          {% if user.attendee %}
          <a class="btn btn-info" href="{% url "dashboard" %}">Cancel</a>
          {% endif %}
      </div>
    </fieldset>
  </form>
{% endblock %}
