{% load i18n %}
{% load lca2018_tags %}

    <div>
      <label class="col-sm-2 col-lg-2">Withdrawn</label>
      <div class="col-sm-10 col-lg-10">
          {% if proposal.cancelled %}
            <p class="label-danger">WITHDRAWN</p>
          {% else %}
            <p class="label-success">Not withdrawn</p>
          {% endif %}
      </div>
    </div>

    <div>
      <label class="col-sm-2 col-lg-2">Submitted by</label>
      <div class="col-sm-10 col-lg-10">
        <p>{{ proposal.speaker }} &lt;{{ proposal.speaker.email }}&gt;</p>
      </div>
    </div>

    <div>
      <label class="col-sm-2 col-lg-2">Proposal Type</label>
      <div class="col-sm-10 col-lg-10">
        <p>{{ proposal.kind.name|capfirst }}</p>
      </div>
    </div>

    <div>
      <label class="col-sm-2 col-lg-2">Target Audience</label>
      <div class="col-sm-10 col-lg-10">
        <p>{{ proposal.get_target_audience_display }}&nbsp;</p>
      </div>
    </div>

    {% if proposal.talk_format %}
    <div>
      <label class="col-sm-2 col-lg-2">Talk Format</label>
      <div class="col-sm-10 col-lg-10">
          <p>{{ proposal.get_talk_format_display }}</p>
      </div>
    </div>
    {% endif %}

    {% if proposal.can_exhibit %}
    <div>
      <label class="col-sm-2 col-lg-2">Can exhibit?</label>
      <div class="col-sm-10 col-lg-10">
          <p>{{ proposal.get_can_exhibit_display }}</p>
      </div>
      <div>
      <label class="col-sm-2 col-lg-2">Exhibition Requirements</label>
      <div class="col-sm-10 col-lg-10">
          {% if proposal.exhibition_requirements %}
            <div class="special_requirements monospace-text">{{ proposal.exhibition_requirements|safe }}</div>
          {% else %}
            <div class="special_requirements monospace-text"><b>No Special Talk Requirements Requested</b></div>
          {% endif %}
      
      </div>
      &nbsp;
    </div>

    </div>
    {% endif %}

    {% if proposal.additional_speakers.all %}
      <div>
        <label class="col-sm-2 col-lg-2">Additional Speakers</label>
        <div class="col-sm-10 col-lg-10">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for speaker in proposal.additional_speakers.all %}
                <tr>
                  {% if speaker.user %}
                    <td>{{ speaker.name }}</td>
                    <td>{{ speaker.email }}</td>
                    <td>Joined</td>
                  {% else %}
                    <td>Unknown</td>
                    <td>{{ speaker.email }}</td>
                    <td>Invitation Sent</td>
                  {% endif %}
               </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <p></p>
    {% endif %}

    <div>
      <label class="col-sm-2 col-lg-2">Abstract</label>
      <div class="col-sm-10 col-lg-10">
        <div class="abstract monospace-text well">{{ proposal.abstract_html|safe }}&nbsp;</div>
        <p></p>
      </div>
    </div>

    <div>
      <label class="col-sm-2 col-lg-2">Private Abstract</label>
      <div class="col-sm-10 col-lg-10">
        <div class="private_abstract monospace-text well">{{ proposal.private_abstract_html|safe }}&nbsp;</div>
        <p></p>
      </div>
    </div>

    <div>
      <label class="col-sm-2 col-lg-2">Project</label>
      <div class="col-sm-10 col-lg-10">
        {% if proposal.project %}
          <p>{{ proposal.project|safe }}&nbsp;</p>
        {% else %}
          <p><b>None Provided</b></p>
        {% endif %}
      </div>
    </div>

    <div>
      <label class="col-sm-2 col-lg-2">Project URL</label>
      <div class="col-sm-10 col-lg-10">
        {% if proposal.project_url %}
          <p><a href="{{ proposal.project_url|safe }}">{{ proposal.project_url|safe }}</a>&nbsp;</p>
        {% else %}
          <p><b>None Provided</b></p>
        {% endif %}
      </div>
    </div>

    <div>
      <label class="col-sm-2 col-lg-2">Video URL</label>
      <div class="col-sm-10 col-lg-10">
        {% if proposal.video_url %}
          <p><a href="{{ proposal.video_url|safe }}">{{ proposal.video_url|safe }}</a>&nbsp;</p>
        {% else %}
          <p><b>None Provided</b></p>
        {% endif %}
      </div>
    </div>

    <div>
      <label class="col-sm-2 col-lg-2">Special Requirements</label>
      <div class="col-sm-10 col-lg-10">
        {% if proposal.technical_requirements_html %}
          <div class="special_requirements monospace-text">{{ proposal.technical_requirements_html|safe }}</div>
        {% else %}
          <div class="special_requirements monospace-text"><b>No Special Talk Requirements Requested</b></div>
        {% endif %}
      </div>
      &nbsp;
    </div>
    <br/>

    {% for speaker in proposal.speakers %}
      {% if speaker.name %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Speaker: {{ speaker.name }}</h3>
          </div>
          <div class="panel-body">
            <div>
              <label class="col-sm-2 col-lg-2">Biography</label>
              <div class="col-sm-10 col-lg-10 well monospace-text">{{ speaker.biography_html|safe }}&nbsp;</div>
            </div>
            <div>
              <label class="col-sm-2 col-lg-2">Experience</label>
              <div class="col-sm-10 col-lg-10 well monospace-text">{{ speaker.experience_html|safe }}&nbsp;</div>
            </div>
            {% if speaker.accessibility_html %}
              <div>
                <label class="col-sm-2 col-lg-2">Accessibility Requirements</label>
                <div class="col-sm-10 col-lg-10 well monospace-text">{{ speaker.accessibility_html|safe }}&nbsp;</div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}

    {% can_manage proposal as can_manage_proposal %}
    {% if can_manage_proposal or request.user.speaker_profile in proposal.speakers %}
      <div>
        <label class="col-sm-2 col-lg-2">Travel Assistance Required</label>
        <div class="col-sm-10 col-lg-10">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Travel</th>
                <th>Accomodation</th>
              </tr>
            </thead>
            <tbody>
              {% for speaker in proposal.speakers %}
                <tr>
                  {% if speaker.user %}
                    <td>{{ speaker.name }}</td>
                    <td>{{ speaker.travel_assistance }}</td>
                    <td>{{ speaker.accommodation_assistance }}</td>
                  {% else %}
                    <td><b>Unconfirmed co-presenter</b></td>
                    <td><b>Unknown</b></td>
                    <td><b>Unknown</b></td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <br />
    {% endif %}

    <div>
      <label class="col-sm-2 col-lg-2">Recording Release</label>
      <div class="col-sm-10 col-lg-10">
        <p>{{ proposal.recording_release }}&nbsp;</p>
      </div>
      &nbsp;
    </div>

    <div>
      <label class="col-sm-2 col-lg-2">Materials Release</label>
      <div class="col-sm-10 col-lg-10">
        <p>{{ proposal.materials_release }}&nbsp;</p>
      </div>
      &nbsp;
    </div>
