{% extends "symposion/proposals/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Submit A Proposal" %}{% endblock %}
{% block header_title %}Submit A Proposal{% endblock %}

{% block proposals_body %}

    {% if kinds %}
        <h1>Select what kind of proposal you'd like to submit:</h1>
        {% for kind in kinds %}
            <a class="btn btn-lg btn-primary" role="button" href="{% url "proposal_submit_kind" kind.slug %}">{{ kind }}</a>
        {% endfor %}
    {% else %}
        <h1>Proposals are not currently open for submission.</h1>
    {% endif %}
{% endblock %}
