{% extends "site_base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block body_class %}reviews{% endblock %}

{% block body_outer %}
<div class="l-content-page">
<div class="l-content-page--richtext">
<div class="rich-text">

    <div class="row">
        <div class="col-md-2">
            {% block sidebar %}
            {% for section in review_sections %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ section }}</h3>
                </div>
                <div class="list-group">
                        <a class="list-group-item review-list" href="{% url "review_section" section.section.slug %}">
                            {% trans "All Reviews" %}
                        </a>
                        {% comment %}
                        <li>
                            <a href="{% url "review_section_assignments" section.section.slug %}">
                                {% trans "Your Assignments" %}
                            </a>
                        </li>
                        {% endcomment %}
                        <a class="list-group-item user-reviewed" href="{% url "user_reviewed" section.section.slug %}">
                            {% trans "Reviewed by you" %}
                        </a>
                        <a class="list-group-item user-not-reviewed" href="{% url "user_not_reviewed" section.section.slug %}">
                            {% trans "Unreviewed by you" %}
                        </a>
                        <a class="list-group-item user-random" href="{% url "user_random" section.section.slug %}">
                            {% trans "Random unreviewed proposal" %}
                        </a>
                        <a class="list-group-item voting-status" href="{% url "review_status" section.section.slug %}">
                            {% trans "Voting Status" %}
                        </a>
                        {% if request.user.is_staff %}
                            <a class="list-group-item review-results" href="{% url "result_notification" section.section.slug 'accepted' %}">Result Notification</a>
                        {% endif %}
                </div>
            {% endfor %}
            {% endblock %}
        </div>
        <div class="col-md-10">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div></div></div>
{% endblock %}
{% block extra_script %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-flash-1.4.2/b-html5-1.4.2/b-print-1.4.2/cr-1.4.1/fc-3.2.3/fh-3.1.3/r-2.2.0/rg-1.0.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-colvis-1.4.2/b-html5-1.4.2/b-print-1.4.2/cr-1.4.1/fc-3.2.3/fh-3.1.3/r-2.2.0/rg-1.0.2/datatables.min.js"></script>
<script type="text/javascript">
        $("table.table-reviews").dataTable({
            "dom": "<'row'<'col-md-3'l><'col-md-3'B><'col-md-4'f>r>t<'row'<'col-md-3'i><'col-md-5'p>>",
            "stateSave": true,
            "lengthMenu": [[10, 50, 100, -1], [10, 50, 100, "All"]],
            "pageLength": 100,
            "colReorder": true,
            "buttons": [ {
              extend: 'collection',
              text: 'Export',
              buttons: ["copy", "csv", "print"]
            },
            { extend: 'collection',
              text: 'Columns',
              buttons: [
                { extend: 'columnsToggle',
                  columns: '.toggle' },
                { extend: 'columnToggle',
                  text: 'Vote details',
                  columns: '.votes'
                }
              ]
        }]});
    </script>
{% endblock %}
