{% extends "site_dark.html" %}

{% block content %}
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-12 col-md-10 content text-page">
    <h1 style="text-transform: uppercase;">Terms &amp; <br />Conditions</h1>
    
    <h2>Registration</h2>
    <p>Registering for the event does not guarantee your ticket until it has been paid for in full. So to secure your ticket, pay the registration invoice as soon as possible.
    </p>
    
    <h2>Security and credit cards</h2>
    <p>All transactions are processed by <a href="https://www.stripe.com">Stripe</a>, and card details are sent over TLS. The facility accepts Mastercard, Visa, and American Express. All transactions are performed by the event organisers on behalf of Linux Australia. Cardholder data is not stored by Linux Australia.</p>
    
    <h2>Cancellation policy</h2>
    <ul>
      <li>Cancellations made prior to 1 December 2018 – any registration fee paid will be refunded in full.</li>
      <li>Cancellations made between 1 December and 31 December 2018 – incur a 15% cancellation fee, which will be deducted from any registration fee paid. The balance will be refunded.</li>
      <li>Cancellations made after 31 December 2018 – No refund.</li>
    </ul>
    
    <h2>Substitutions</h2>
    <p>You may substitute another person, however you must contact us with this person’s details. If you wish to substitute after 30th November 2018, please note that we will not be able to provide any personalised items.</p>
    
    <h2>Privacy notice</h2>
    <p>
      In the course of registering for the event and related events, personal information will be collected about attendees such as their name, contact details, etc.
      This information is required to facilitate registration to to the event, for catering requirements, and for organisers or their agents to contact particular attendees as and when required in respect of the event.
      Attendees who do not disclose this personal information will be unable to complete registration at the event and will therefore not be able to attend.
    </p>
    <p>Personal information will only be disclosed to Linux Australia, and to Government agencies where organisers believe disclosure is appropriate for legal compliance and law enforcement; to facilitate court proceedings; to enforce our terms and conditions; or to protect the rights, property, or safety of the event, our attendees, or others. Linux Australia will not sell your personal information to third parties and will not use your personal information to send promotional material from any of our affiliated partners and/or sponsors.</p>
    <p>As part of the registration process attendees will be asked if they would like to subscribe to the event Mailing Lists and/or the event Announce Mailing List. Attendees who subscribe to one or more of these lists will be sent emails from the event organisers and other subscribers to the Mailing Lists. If at any time, attendees wish to unsubscribe from any of these Mailing Lists, please follow the ‘how to unsubscribe’ directions on the bottom of any message you receive from these Mailing Lists.</p>
    <p>From time to time event organisers update their information and website practices. Please regularly review this page for the most recent information about the event privacy practices.</p>
    <p>All personal information will be kept private and used only for event registration purposes, statistics for future events, and convenience for future event registration.</p>
    
    <h2>Network</h2>
    <p>
      The event may provide attendees with access to a wired and/or wireless network.
      The access to this network is a privilege and not an entitlement, and must be used appropriately.
      Inappropriate use includes, but is not limited to: unlawful activities, interfering with the equipment or network access of others and not respecting the reasonable expectations of privacy that attendees have for traffic flowing though the network.
    </p>
    <p>Any deliberately malicious activities on either the wired or wireless networks will be grounds for instant dismissal from the conference (without reimbursement).</p>
    <p>If any attendees use the network inappropriately, then the linux.conf.au organisers will take any enforcement action they consider appropriate. Enforcement action includes but is not limited to:</p>
    <ul>
      <li>suspending access to the network</li>
      <li>disconnecting the network permanently</li>
      <li>the alleged offender may be asked to immediately leave the venue and/or will be prohibited from continuing to attend linux.conf.au (without reimbursement)</li>
      <li>the incident may be reported to local or Federal Police</li>
      <li>any other measure the linux.conf.au organisers see fit</li>
    </ul>
    <p>Beware that for security and operational reasons linux.conf.au may both monitor and log network traffic.
      
    </p>
    <h2>Audio visual</h2>
    <p>
      Event organisers may provide recordings of talks (audio and/or video) given at the event.
      This service is provided on a best-effort basis only.
      Any recordings will be released as and when they are ready, which may be some time after the conclusion of the event, and the recordings may be of varying quality.
      
    </p>
    <h2>Discrimination and anti-social behaviour</h2>
    <p>Linux Australia is proud to support diverse groups of people in IT, particularly women, and will not tolerate in any fashion any intimidation, harassment, and/or any abusive, discriminatory or derogatory behaviour by any attendees of the event and/or related events.
      
    </p>
    <p>Examples of these behaviours and measures the event organisers or Linux Australia may take are set out in the <a href="/attend/code-of-conduct">Code of Conduct</a>.
      By registering for and attending a Linux Australia event, you agree to this <a href="/attend/code-of-conduct">Code of Conduct</a>.
    </p>
    <h2>Media</h2>
    <p>There are a limited number of Media Passes available to media personnel.
      Media Passes are free of charge, and entitle media personnel to attend the event with all the entitlements of a Professional registration.
      Please note, due to the limited numbers of Media Passes available, all Media Passes will need to be approved by the event organisers.
    </p>
    <p>Any media attending the event are required to identify themselves as “media” to attendees prior to speaking on the record with any attendees of the event.
      It is the responsibility of the media to introduce themselves to the persons they wish to interview and to arrange any interviews with those persons.
      The event organisers will not make introductions or arrange interviews on behalf of media.
    </p>
    <p>To apply for a Media Pass, please contact team@lca2019.org</p>
    <h2>Students</h2>
    <p>
      Students who register for a student ticket (if available) to attend the event will be required to provide event organisers with proof that they are eligible for registration as a student, 
      such as providing a valid full time student ID card.
    </p>
    <h2>Alcohol</h2>
    <p>Liquor licensing laws require persons to be aged 18 years and older before they can lawfully drink alcohol in New Zealand.
      The licensed premises used as linux.conf.au venues will not serve alcohol to persons 18 years and under.
      Those attendees who look under 25 years old, may be required to show identification such as a Passport (non-New Zealand driver licences are generally not accepted) to licensed premises proving they are 18 years old or older.
    </p>
    <p>Those attendees who are younger than 18 years old are required to advise event organisers of their age, when they register.
      Those attendees may not be able to attend all of the associated social events.
    </p>
    <p>Please consume alcohol responsibly.
      Please note, licensed premises in New Zealand are prohibited from selling or supplying alcohol to intoxicated persons.
      Please adhere to local liquor laws which are available in most licensed establishments.
    </p>
    <h2>Smoke-free</h2>
    <p>All event venues including the social event venues are smoke-free.
      If attendees wish to smoke during the event and/or related events, they must do so in signed areas.
      Please consider others and refrain from smoking directly outside the venues’ entrances.
    </p>
    <h2>Health and safety</h2>
    <p>If you are attending the event as a Keynote Presenter, Speaker, Miniconf Organiser or Miniconf Presenter, it is your responsibility to ensure that your talk meets the Health and Safety requirements under New Zealand law.
      If you are unsure, please contact linux.conf.au organisers on team@lca2019.org to discuss it further.
    </p>
    <h2>Immigration/entry requirements</h2>
    <p>Anyone who lives outside New Zealand will need a passport and may require a visa to gain entry into New Zealand. Please contact your local New Zealand Embassy department to determine your travel needs. You should take into account the Cancellation Policy above and do this well in advance of the event.
    </p>
    <p>Where a letter of invitation is required, one will be issued by event organisers for Keynote Presenters and Speakers or Miniconf Organisers whose submissions have been accepted only.</p>
  </div>
</div>
{% endblock content %}