{% extends "site_base.html" %}
{% load staticfiles %}

{% block extra_style %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/site-0a247b924d.css' %}">
{% endblock %}

{% block body_base %}
  <div style="height: 100px;" />
  <main role="main">
    {% include "_messages.html" %}
    {% block body %}
      {% block content %}
      {% endblock %}
    {% endblock %}
  </main>
{% endblock %}

{% block scripts %}
  <script src="{{ STATIC_URL }}/js/app.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}/js/bootstrap.min.js" type="text/javascript"></script>
  {% block extra_script %}{% endblock %}
{% endblock %}

{% block extra_body_base %}
  {% block extra_body %}{% endblock %}
{% endblock %}
