{% extends "symposion/schedule/public_base.html" %}

{% load i18n %}
{% load cache %}
{% load lca2018_tags %}
{% load sitetree %}

{% block head_title %}{{ schedule.section }} Schedule{% endblock %}
{% block header_title %}{{ schedule.section }} Schedule{% endblock%}
{% block header_paragraph %}{{ schedule.header_paragraph.text }}{% endblock%}
{% block header_inset_image %}{% illustration "devil.svg" %}{% endblock %}

{% block body_class %}full{% endblock %}

{% block content %}
  <div class="page-head">
    {% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}
  </div>

  {% cache 600 "schedule-table" schedule.section %}
    {% for timetable in days %}
      <h3>{{ timetable.day.date|date:"l" }}, {{ timetable.day.date }}</h3>
      <br />
      {% include "symposion/schedule/_grid.html" %}
      <br />
    {% endfor %}
  {% endcache %}
{% endblock %}
