{% load lca2018_tags %}
{% load bootstrap %}
{% load crispy_forms_tags %}

{% if form.non_field_errors %}
  <div class="has-errors">
    {{ form.non_field_errors }}
  </div>
  <br/>
{% endif %}

<blockquote>
  Fields marked with a<br/>* are required
</blockquote>

{% crispy form %}
