{% load staticfiles %}
{% load i18n %}
{% load sitetree %}
{% load staticfiles %}
{% load sass_tags %}


<!DOCTYPE html>



<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
  
  
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  {% block styles %}
  <link href="{% sass_src 'scss/app.scss' %}" rel="stylesheet" type="text/css" />
  {% block extra_style %}{% endblock %}
  {% endblock %}
  
  
  {% block extra_head_base %}
  {% block extra_head %}{% endblock %}
  {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
  {% block template_overrides %}{% endblock %}
  <header class="clearfix hidden-print">
      {% block navbar %}{% include 'nav.html' %}{% endblock %}
  </header>
    
  <main role="main" class="{% block main_class %}container{% endblock %}">
    {% if messages %}
    <ul class="messagelist hidden-print">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    
    
    <h1 class="text-primary text-upper h2 mb-5">{% block page_title %}{% endblock %}</h1>

    {% block body_base %}
    {% block body %}
    
    <div class="row">
      <div class="col-md-1">
        {% block body_outer %}
        {% endblock %}
      </div>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% endblock %}
    
    {% block footer_base %}
    {% block footer %}
    {% endblock %}
    {% endblock %}
    
    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_script %}
    {% endblock %}
    {% block scripts_extra %}{% endblock %}
    {% endblock %}
    
    {% block extra_body_base %}
    {% block extra_body %}
    {% endblock %}
    {% endblock %}
  </main>

  <footer class="bg-white text-primary py-xl-5 py-2">
    <p>
      &copy; 2018 linux.conf.au <br />
      and Linux Australia. <br />
      Linux is a registered <br />
      trademark of Linus Torvalds.
    </p>
  </footer>
</body>
</html>
